@{
    ViewData["Title"] = "Home Page";
}

<button type="button" class="btn btn-success" onclick="window.location.href='/Home/SignIn'">Sign In</button>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Manage Your Employees and Your Projects</p>
</div>

