@{
    ViewData["Title"] = "AddEmployee";
}

@model EmployeeModel
<form action="/Employees/AddEmployee" method="post">
  <div class="form-group">
    <label for="Name">Name</label>
    <input type="text" class="form-control" id="Name" asp-for="Name">
  </div>
  <div class="form-group">
    <label for="ProjectId">ProjectId</label>
    <input type="number" class="form-control" id="ProjectId" asp-for="ProjectId">
  </div>
  <div class="form-group">
    <label for="Expertise">Expertise</label>
    <input type="text" class="form-control" id="Expertise" asp-for="Expertise">
  </div>
  <div class="form-group">
    <label for="Status">Status</label>
    <input type="text" class="form-control" id="Status" placeholder="Assigned or UnAssigned" asp-for="Status">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
