@{
    ViewData["Title"] = "Reports";
}
<button type="button" class="btn btn-success" onclick="window.location.href='/Home/SignOutU'">Sign Out</button>

<button type="button" class="btn btn-success" onclick="window.location.href='/Reports/ReportEmployee'">Report Employee</button>

<button type="button" class="btn btn-success" onclick="window.location.href='/Reports/ReportProject'">Report Project</button>