@{
    ViewData["Title"] = "Projects";
}
<button type="button" class="btn btn-success" onclick="window.location.href='/Home/SignOutU'">Sign Out</button>
<body>
    <div style="margin-left:25%;margin-right:25%">
        <h1>MANAGE YOUR PROJECTS</h1>
        <hr style="width:60%" />
        <p>Chosse from the options below</p>
    </div>

    <button type="button" class="btn btn-primary" onclick="window.location.href='/Projects/AddProject'" >Add Project</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/Projects/ListProjects'" >List Projects</button>
    
</body>